*{
    border: 0%;
    margin: 0%;
}
.tut{
    background-color: #36761C;
    position: relative;
    height: 10vh;
    width: auto;
}
.titulo{ 
    position: relative;
    top: 2cqh;
    text-align: center;
    transform: scale(1.5);
}
.cuadro1{
    background-color:  aliceblue;
    border: 1px solid black ;
    position:absolute ;
    height: 65%;
    width: 50%;
    right: 40%;
    top: 25%;
}
.row-g-3{
    position: absolute;
    height: 60%;
    width: 60%;
    right: 35%;
}
.imagen{
    position: absolute;
    right: 1%;
}
.buscador{
    position: absolute;
    height: 30%;
    width: 30%;
    right: 8%;
}
.hojvida{
    position: absolute;
    margin-top: 25%;
    right: 20%;
}
.actualizar{
    position: absolute;
    margin-top: 20%;
    right: 21%;

}