*{
    border: 0;
    margin: 0;
}
.tut{
    background-color: #36761C;

}
.titulo{ 
    position: relative;
    top: 2cqh;
    text-align: center;
    height: 8vh;
    width: 1000cap;
}
.material-symbols-outlined{
    position: absolute;
    top: 55px;
    transform: scale(1,2);
    left: 15px;
}
.cuadro1{
    background-color: #ffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 10%;
    margin-right: 20%;
    margin-left: 20%;
    height: 20vh;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.form-control{
    height: 3vh;
    width: 70%;
}
.encabezado-vacante{
    font-family: 'Open Sans', sans-serif;
}